{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Bienvenue dans le gestionnaire des cours de la FAC</h1>

    <div>
        <div>
            <a href="/classe">
            <button class="btn btn-primary">Voir les classes</button>
            </a>
        </div>

        <div>
            <a href="/student">
            <button class="btn btn-primary">Voir les étudiants</button>
            </a>
        </div>

        <div>
            <a href="/intervenant">
            <button class="btn btn-primary">Voir les intervenants</button>
            </a>
        </div>
    </div>

</div>
{% endblock %}

{% block stylesheets %}
<style>
    .btn {
        display: inline-block;
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        padding: .5rem 1rem;
        font-size: 1rem;
        border-radius: .25rem;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        cursor: pointer;
        margin-top: 20px;
    }

    .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    }
    .btn-secondary {
        margin-top: 50px;
        color: #292b2c;
        background-color: #fff;
        border-color: #ccc;
    }

</style>
{% endblock %}
